<div class="preview_wrapper">
	<div class="field">
	<label>Content (<a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet" taget="_blank">Markdown</a> Enabled).</label>
	<%= f.label :text, "Markdown Preview Toggle".html_safe, :id =>"MarkdownToggle" %>
	</div>
</div>
<div class="preview_wrapper">
	<div class="field">
    	<%= f.text_area :text %>
	</div>
</div>


<% if params[:reply_to_id] %>
  <%= f.hidden_field :reply_to_id, :value => params[:reply_to_id] %>
<% end %>
