footer{
	max-width: 900px;
	margin: auto;
	text-align: center;
	color: #333;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 12px;
	font-family: $roboto;
	p{
		margin: auto;
		a{
			color: #333;
			text-decoration: none;
			&:hover{
				text-decoration: underline;
			}
		}
		.mailto{
			color: $color2;
			&:hover{
				text-decoration: underline;
			}
		}
		padding: 20px;
		max-width: 800px;
	}
	@include transition(transform 1.0s ease-in-out);
	.footercontent{
		text-align: center;
	}
}