.login{
	h2{
		text-align: center;
		font-family: $raleway;
		background: #fff;
		margin: 0;
	}
 	.form{
		margin: auto;
		padding: 0 10px 10px 10px;
		background: #fff;
		@include tablet{
			border-bottom-right-radius: 15px;
	  		border-bottom-left-radius: 15px;
		}
		label{
			font-family: $raleway;
			font-size: 15px;
		}
		input[type="text"], input[type="password"], input[type="email"]{
			width: 100%;
			border: 0;
			border-bottom: 2px solid #333;
			outline: 0;
			font-size: 25px;
			font-family: $raleway;
			&:focus{
				border-color: $oceanblue;
				}
		}
		input[type="submit"]{
			border: 0;
			text-decoration: none;
			display: block;
			width: 100%;
			font-family: $raleway;
			background-color: #fff;
			border: 2px solid $oceanblue;
			padding: 5px;
			@include transition(all .1s linear);
			&:first-child{
				margin-right: 5px;
			}
			&:hover{
				background-color: $oceanblue;
				color: #fff;
			}
		}
	}
	.links{
		display: block;
		text-align: center;
		margin: 0;
		margin-top: 5px;
		@include display(flex);
		@include align-items(center);
		@include justify-content(center);
		a{
			text-decoration: none;
			display: block;
			width: 50%;
			color: #333;
			font-size: 14px;
			font-family: $raleway;
			border: 2px solid #333;
			padding: 2px;
			@include transition(all .1s linear);
			&:first-child{
				margin-right: 5px;
			}
			&:hover{
				background-color: #333;
				color: #fff;
			}
		}
	}
}

.edit_h2{
	text-align: center;
	font-size: 25px;
}

.field{
	// max-width: 800px;
	margin: auto;
	font-family: $raleway;
	color: #333;
	label{
		font-size: 90%;
		a{
			color: $oceanblue;
			&:hover{
				color: $oceanblue;
			}
		}
	}
	input{
		border: none;
		border-bottom: 1px solid #333;
		width: 100%;
		font-size: 120%;
		margin-bottom: 10px;
	}
	textarea{
		width: 100%;
		resize: none;
	    overflow-y: auto;
	    min-height:400px;
	    padding:2px;
	    @include transition(all .5s);
	}
	#preview{
		min-height: 400px;
		@include transition(all .5s);
		p{
			text-indent: 0;
		}
	}
	.markdowntoggle{
		color: #fff;
		background-color: $oceanblue;
		padding: 5px;
		text-align: center;
		@include transition(all .5s);
		cursor: pointer;
		&:hover{
			opacity: .8;
		}
	}
	.TogglePressed{
		background-color: $bloodred !important;
	}
	.full-height{
		height: auto !important;
	}
}
.remember{
	input{
		width: 30px;
		text-align: left;
	}
}
.preview_wrapper .field{
	@include display(flex);
	@include align-items(stetch);
	@include flex-direction(row);
	@include justify-content(flex-start);
	margin-bottom: 10px;
	div, textarea{
		// border: 2px solid blue;
		width: 100%;
		display: block;
		height: 400px;
	}
	label{
		width: 100%;
		display: block;
	}
	div{
		padding: 2px 5px 2px 5px;
		width: 100%;
		resize: none;
		overflow-x: none;
		overflow-y: auto;
		// min-height: 400px;
		img{
			max-width: 100%;
			height: auto;
			margin: auto;
		}
	}
	@media screen and (max-width: $phone){
		@include flex-direction(column);
	}
}
.btn-primary{
	text-decoration: none;
	margin: auto;
	display: block;
	width: 100%;
	text-align: center;
	background-color: #fff;
	color: #333;
	font-size: 20px;
	font-family: $raleway;
	border: 2px solid $oceanblue;
	padding: 5px;
	@include transition(all .1s linear);
	&:first-child{
		margin-right: 5px;
	}
	&:hover{
		background-color: $oceanblue;
		color: #fff;
	}
}

//Particles
#form-particles{
  position: relative;
  height: 100%;
  @include linear-gradient(0deg, #fff 0%, $oceanblue 70%, $oceanblue 100%);
  display: block;
  width: 100%;
  @include tablet{
  	position: fixed;
  }
  .devise_form{
  	z-index: 4;
  	// background: #fff;
  	max-width: 600px;
  	margin: auto;
  	margin-top: 56px;
  	height: 100%;
  	// margin-top: 200px;
  	@include tablet{
  		margin-top: 200px;
  	}
  	@include box-sizing(border-box);
  	// @include box-shadow(0px 0px 10px 2px #3B3B3B);
  	.image_highlight{
  		background-color: #333;
  		width: 100%;
  		padding: 10px 0 10px 0;
  		@include tablet{
  			border-top-right-radius: 15px;
  			border-top-left-radius: 15px;
  		}
  		img{
  			margin: auto;
  			display: block;
  			padding: 10px 10px 5px 10px;
  			background: $oceanblue;
  			border-radius: 50%;
  			text-align: center;
  		}
  	}
  }
  canvas{
  	position: absolute;
  	top: 0;
  	left: 0;
  	width: 100%;
  	height: 100%;
  	z-index: -1;
  }
}
