.forum_link{
	color: $color3;
	border-color: $color3;
	text-decoration: none;
	border: 2px solid;
	border-radius: 15px;
	width: 50%;
	margin: auto;
	text-align: center;
	display: block;
	font-family: $roboto;
	font-size: 18px;
	&:hover{
		color: white;
		border-color: $color3;
		background-color: $color3;
	}
}

.category_table{
	width: 100%;
	thead tr{

	}
}

#forum_topic_links{
	width: 100%;
	margin: auto;
	display: block;
	@include transition(all .5s);
	.button{
		font-family: $roboto;
		text-decoration: none;
		padding: 5px;
		border: 2px solid;
		border-radius: 15px;
		color: $color3;
		display: block;
		text-align: center;
		margin: auto;
		width: 25%;
		margin-bottom: 10px;
		&:hover{
			color: white;
			background-color: $color3;
			border-color: $color3;
		}
	}
}

.listing{
	@include align-items(stretch);
	@include display(flex);
	@include flex-direction(row);
	@include transition(all .5s);
	&:hover{
		background-color: #f7f7f7;
	}
	.counts{
		@include flex(2);
		padding: 10px;
		p{
			text-align: center;
			font-family: $roboto;
			font-size: 12px;
			color: #333;
			padding: 5px;
			margin: auto;
			@include transition(all .5s);
			&:hover{
				color: $color2;
			}
			.number{
				padding: 2px;
				width: 50%;
				font-size: 12px;
				margin: auto;
			}
		}
	}
	.description{
		@include flex(9);
		h2{
			text-align: left;
			font-family: $roboto;
			a{
				color: #333;
				font-family: $roboto;
				text-decoration: underline;
				@include transition(all .5s);
				&:hover{
					color: $color3;
				}
			}
		}
		h5{
			font-family: $roboto;
			a{
				color: #333;
				font-family: $roboto;
				@include transition(all .5s);
				&:hover{
					color: $color2;
				}
			}
		}
	}
}

.topic_listing{
	@include align-items(center);
	@include display(flex);
	@include flex-direction(row);
	@include justify-content(space-between);
	font-family: $roboto;
	@include transition(all .5s);
	padding: 5px;
	&:hover{
		background-color: #f7f7f7;
	}
	div{
		@include flex(1);
		text-align: center;
	}
	.larger{
		@include flex(3);
		text-align: left;
		.subject, .started-by{
			text-align: left;
		}
		a{
			@include transition(all .25s);
			color: #333;
			text-decoration: none;
			&:hover{
				text-decoration: underline;
				color: $color2;
			}
		}
	}
}

.breadcrumb{
	font-size: 15px;
	font-family: $roboto;
	text-transform: uppercase;
	a{
		border: 2px solid transparent;
		text-decoration: none;
		border-radius: 15px;
		color: #333;
		padding: 5px;
		@include transition(all .5s);
		&:hover{
			background-color: #333;
			color: white;
			border-color: #333;
		}
	}
	.fa{
		padding: 5px
	}
}

#description{
	color: #333;
	text-align: center;
	padding: 0;
	margin: 0;
	box-shadow: 0 4px 2px -2px gray;
	font-size: 18px;
	font-family: $roboto;
}

.footer{
	a{
		padding: 5px 0 5px 0;
		display: block;
		margin: auto;
		width: 100%;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		border: 2px solid;
		border-color: $color3;
		color: $color3;
		font-family: $roboto;
		border-radius: 15px;
		@include transition(all .5s);
		&:hover{
			color: white;
			background-color: $color3;
		}
	}
}

// .preview_wrapper{
// 	@include align-items(stretch);
// 	@include display(flex);
// 	@include flex-direction(row);
// 	@include justify-content(space-between);
// }

.topic_header{
	color: #333;
	text-align: center;
	font-family: $roboto;
	margin-bottom: 5px;
}

.btn-group{
	@include align-items(center);
	@include display(flex);
	@include flex-direction(row);
	@include justify-content(center);
	margin-top: 5px;
	font-family: $roboto;
	div{
		a{
			font-size: 80%;
			padding: 2px;
		}
	}
	a{
		padding: 5px;
		text-decoration: none;
		border-radius: 15px;
		color: $color3;
		margin: 0 10px 0 10px;
		@include transition(all .5s);
		&:hover{
			background-color: $color3;
			color: white;
		}
		@media screen and (max-width: $tablet){
      		font-size: 80%; 
      		margin: 0 5px 0 5px;     	
      	}
	}
}

.post{
	// @include display(flex);
	// @include flex-direction(row);
	// @include justify-content(space-between);
	background: #f7f7f7;
	padding: 10px;
	margin-top: 10px;
	@media screen and (max-width: $phone){
      	@include flex-direction(column);
      	@include justify-content(flex-start);
    }
    div{
		// border: 2px solid black;
		width: 100%;
		
	}
	.about{
		max-width: 600px;
		font-family: $roboto;
		margin: auto;
		h2{
			text-align: center;
		}
	}
	.user{
		@include flex(2);
		@media screen and (max-width: $tablet){
      		@include flex(1);
      	}
		.icon{
			img{
				display: block;
				margin: auto;
				border-radius: 50%;
			}
		}
		.username{
			text-align: center;
			font-family: $roboto;
			a{
				color: #333;
				text-decoration: none;
				@include transition(all .5s);
				&:hover{
					color: $color3;
				}
			}
			p{
				margin: 2px 0 2px 0;
				font-size: 12px;
			}
		}
	}
	.content{
		@include flex(11);
		@media screen and (max-width: $tablet){
      		@include flex(1);
      	}
		.post_header{
			background-color: lighten($color1, 25);
			border-top-left-radius: 10px;
			border-top-right-radius: 10px;
			min-height: 30px;
			.btn-group{
				@include justify-content(flex-end);
				a{
					color: #fff;
					border-radius: 0px;
					border: none;
				}
			}
		}
	}
}

.post_content{
	font-family: $roboto;
	color: #333;
	box-sizing: border-box;
	margin: 0;
	padding: 10px;
	border-left: 2px #C9C9C9 solid;
	border-right: 2px #C9C9C9 solid;
	border-bottom: 2px #C9C9C9 solid;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	@include box-sizing(border-box);
	img{
		display: block;
		margin: auto;
		max-width: 100%;
	}
}