header{
	@include display(flex);
  	@include align-items(center);
  	@include flex-direction(row);
  	@include justify-content(space-between);
  	@include center;
  	width: 100%;
	background: image-url("polygons.png");
	max-height: 60px;
	z-index: $header-z;
	position: fixed;
	top: 0;
	left: 0;
	.trigger{
      color: white;
      font-size: 30px;
      padding: 0 10px 0 10px;
      margin-right: 20px;
      text-align: right;
      text-decoration: none;
      max-width: 40px;
      display: none;
      @media screen and (max-width: $tablet){
      	display: block;
      }
    }
	ul, div, a{
		margin: 0 2px 0 2px;
		max-height: 60px;
	}
	img, p{
		float: left;
		color: white;
		font-family: $raleway;
		text-transform: uppercase;
		display: inline-block;
		padding: 0 10px 0 10px;
		font-size: 110%;
	}
	.ironlegacy{
		min-width: 50%;
		@media screen and (max-width: $tablet){
      		min-width: 80%;
      	}
	}
	ul{
		list-style-type: none;
		color: white;
		li{
			@include button;
			background-color: $color3;
			float: left;
			color: white;
			@media screen and (max-width: $phone){
				padding: 4px 8px 4px 8px;
			}
		}
		.apply{
			background-color: $color2;
			&:hover{
				opacity: .8;
			}
		}
		.setting{
			@include transition(all .25s);
			padding: 0 10px 0 10px;
			color: white;
			text-decoration: none;
			font-size: 20px;
			&:hover{
				color: $color3;
			}
		}
		.username{
			@extend setting;
			font-family: $raleway;
			font-size: 22px;
		}
	}
	.login{
		display: block;
	}
	@media screen and (max-width: $tablet){
		.login{
			display: none;
		}
	}
}