.news {
	.create{
		position: fixed;
		bottom: 0;
		right: 0;
		margin: 25px;
		z-index: 3;
		font-size: 25px;
		text-align: center;
		padding: 20px;
		background-color: $color3;
		color: white;
		border-radius: 50%;
		@include transition(color .5s);
		&:hover{
			color: $color1;
		}
	}
	.more{
		background-color: $color3;
		color: white;
		margin-top: 5px;
		padding: 8px;
		box-sizing: border-box;
		display: block;
		text-align: center;
		text-decoration: none;
		font-family: $raleway;
		@include transition(background-color .5s);
		&:hover{
			background-color: lighten($color3, 15);
		}
	}
}

.news .news_post{
	font-family: $roboto;
	.post-header{
		padding-left: 15px;
		padding-right: 15px;
		color: lighten(#333, 5);
		background-color: darken(#f7f7f7, 5);
		border-bottom: 1px solid #eee;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		h1{
			margin-top: 5px;
			text-align: center;
			@media screen and (max-width: $phone){
				margin: 0;
			}
		}
	}
	.post-body{
		padding: 5px;
		background-color: #f7f7f7;
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
		color: lighten(#333, 5);
	}
	p{
		font-family: $roboto;
	}
}

iframe{
	//Ratio Width -> Height: 1.75
	margin: auto;
	display: block;
	position: relative;
	height: 360px;
	width: 630px;
	@media screen and (max-width: $tablet){
		height: 250px;
		width: 437.5px;
	}
	@media screen and (max-width: $phone){
		height: 150px;
		width: 262.5px;
	}
}