.sidebar_wrap{
	@include box-sizing(border-box);
	background-color: #f7f7f7;
	padding: 0 10px 0 10px;
	display: block;
	width: 100%;
	.apply{
		text-decoration: none;
		display: block;
		width: 100%;
		text-align: center;
		color: #333;
		font-size: 14px;
		font-family: $raleway;
		border: 2px solid $oceanblue;
		padding: 2px;
		@include box-sizing(border-box);
		@include transition(all .1s linear);
		&:hover{
			background-color: $oceanblue;
			color: #fff;
		}
		z-index: 2;
	}
	h4{
		margin-top: 8px;
		margin-bottom: 8px;
	}
	h5.small{
		text-align: center;
		font-size: 16px;
		margin-bottom: 5px;
	}
	.recruitment_header{
		@include box-sizing(border-box);
		color: #fff;
		background-color: darken($oceanblue, 2);
		width: 100%;
		padding: 5px 10px 5px 10px;
		text-align: center;
		// opacity: .9;
		margin: 0;
	}
	.recruitment{
		@include display(flex);
		@include flex-direction(row);
		@include flex-wrap(wrap);
		@include align-items(center);
		@include justify-content(center);
		padding: 0;
		margin: 0;
		margin-bottom: 5px;
		z-index: -1;
		.class_square{
			@include box-sizing(border-box);
			// border: 2px solid #333;
			margin: 0px;
			width: calc(100%/3);
			position: relative;
			// padding: 5px;
			background-color: #333;
			&:nth-child(odd){
					background-color: lighten(#333, 5);
				}
			&::before{
				content: "";
				display: block;
				padding-top: 100%; 	/* ratio of 1:1*/
			}
			.content {
				@include box-sizing(border-box);
			  position: absolute;
			  top: 0;
			  left: 0;
			  right: 0;
			  bottom: 0;
			  .classicon{
				// height: 100%;
				width: 85%;
			  	display: block;
			  	margin: 5px auto 5px auto;
			  }
			  h6{
			  	font-size: 1vw;
			  	text-align: center;
			  	padding-top: 5px;
			  }
			  p{
			  	color: #fff;
			  	text-align: center;
			  	padding-top: 30px;
			  	font-size: 16px;
			  	text-indent: 0;
			  }
			  .images{
			  	position: absolute;
			  	bottom: 0px;
			  	left: 0;
			  	width: 100%;
			  	@include display(flex);
			  	@include flex-direction(row);
			  	@include flex-wrap(nowrap);
			  	@include align-items(center);
			  	@include justify-content(center);
			  	// height: 0px;
			  	img{
			  		margin-left: 4px;
			  		margin-right: 4px;
			  		margin-bottom: 5px;
			  		width: 15%;
			  	}
			  	.inactive{
			  		opacity: .2;
			  	}
			  }
			}
			.overlay{
				// @include display(flex);
			 //  	@include flex-direction(column);
				// @include align-items(stretch);
				@include box-sizing(border-box);
				position: absolute;
				overflow: hidden;
				top: 0;
			 	left: 0;
			  	right: 0;
			  	bottom: 0;
			  	background-color: $oceanblue;
			  	opacity: 0;
			  	@include transition(opacity .2s ease-in-out);
			  	p{
			  		color: #fff;
			  		text-align: center;
			  		display: block;
			  		height: 100%;
			  		text-decoration: none;
			  		margin: 0;
			  		padding-top: 40%;
			  	}
			  	&:hover{
			  		opacity: .9;
			  	}
			}
		}
	}
}