//Variables

//Color Palettes
$oceanblue: #136F63;
$bloodred: #8A0707; //844A87;

// $oceanblue: $bloodred;

$raleway: 'Raleway', sans-serif;
$max-width: 1400px;
  //Style Breaks
  $phone: 600px;
  $tablet: 900px;
  $desktop: 1200px;

//Common Mixins
@mixin phone{
  @media screen and (min-width: $phone) {
    @content;
  }
}
@mixin tablet{
  @media screen and (min-width: $tablet) {
    @content;
  }
}
@mixin desktop{
  @media screen and (min-width: $desktop) {
    @content;
  }
}
