<div class='category'>
  <h2 class="breadcrumb"><%= link_to t('forem.forum.forums'), forem.forums_path %><i class="fa fa-chevron-right"></i><%= link_to forem_emojify(@category), [forem, @category] %></h2>
  <%= render @category %>
</div>