.footer a{
	text-align: center;
	color: white;
	background-color: $main-button-color;
	display:block;
	width: 50%;
	margin: auto;
	padding: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.forum{
	padding-top: 10px;
}
#forums_container{
	max-width: 960px;
	margin: auto;
	padding-top: 10px;
}

.new_post{
	max-width: 960px;
	margin: auto;
	background-color: #eee;
	padding: 10px;
}
.topic td{
	width: 100%;
}
.topics .byline{
	text-align: left;

}
.topic .byline{
	text-align: left;
	padding: 10px 0 10px 0;
	width: 50%;
}
.topic .icon{
	width: 20px;
	height: auto;
}
#topic h3{
	text-align: center;
	padding: 5px;
	font-size: 18px;
}
#topic #menu{
	padding-left: 10px;
	display: block;
	margin: auto;
	text-align: center;
	.btn-group a{
		color: white;
		background-color: $main-button-color;
		text-align: center;
		padding: 5px;
		margin: auto;
		display: inline-block;
		margin-bottom: 5px;
		margin-right: 5px;
	}
}
#posts{
	display: block;
	.row{
		display: block;
	}
}
#forum{
	max-width: 960px;
	margin: auto;
	h2{
		text-align: center;
		display: block;
	}
	#description{
		text-align: center;
		display: block;
		padding: 10px;
		font-size: 110%;
	}
	#forum_topic_links{
		text-align: center;
		margin: auto;
		padding-bottom: 10px;
		a{
			color: white;
			background-color: #6CC75B;
			box-sizing: border-box;
			display: inline-block;
			padding: 5px;
		}
	}
}
textarea{
	width: 100%;
	display: block;
	resize: none;
	margin-top: 5px;
	min-height: 300px;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid #bdbdbd;
}
form .btn{
	background-color: #6CC75B;
	border: none;
	color: white;
}
table{
	max-width: 960px;
	font-family: $post-font;
	margin: auto;
	tr{
  		// th{
  		// 	width: 100%;
  		// 	box-sizing: border-box;
  		// 	padding: 5px;
  		// 	font-family: $post-font;
  		// }
  		td{
			text-align: center;
			max-width: 100px;
			&:first-child{
				text-align: left;
				width: 100%;
			}
			a, div{
				padding-bottom: 5px;
			}
			padding-bottom: 10px;
		}
	}
}
.category{
	max-width: 960px;
	margin: auto;
	padding: 10px;
}

tr .forum{
	padding-bottom: 10px;
}
.listing{
	margin-bottom: 10px;
}

.breadcrumb { 
	list-style: none; 
	overflow: hidden; 
	font: 18px $post-font;
	@media screen and (max-width: $break-phone){
		font-size: 14px;
		padding-left: 10px;
	}
}
.breadcrumb a {
	color: white;
	text-decoration: none; 
	text-align: center;
	padding: 5px;
	background: $main-button-color;                   /* fallback color */
	position: relative; 
	display: inline-block;
	margin: 2px;
	@include transition(text-decoration .5s);
	&:hover{
		text-decoration: underline;
	}
}

.contents{
	position: relative;
	margin: auto;
}
div.row{
	position: relative;
	max-width: 1080px;
	margin: auto;
}
.contents{
	max-width: 1080px;
	margin: auto;
	.contents{
		position: relative;
		overflow: none;
	}
	p{
		text-align: left;
		max-width: 800px;
		padding-right: 20px;
		box-sizing:border-box;
	}
}

a img{
	max-width: 800px;
	margin: auto;
	text-align: center;
}