
html,body{
	font-family: $main-font;
	overflow-x: hidden;
	background-color: $main-background-color;
}

// Scrollbar stuff
.menu-shown{
	@include transform(translateX(200px));
}
main{
	color: black;
	background-color: $main-background-color;
	@include transition(all 1.0s ease-in-out);
	width: auto;
	z-index: $content-z;
	overflow-y: hidden;
	padding-top: 60px;
	// margin-bottom: 200px;
	// overflow-x: scroll;
}
.error {
	margin: auto;
	padding: 10px;
	text-align: center;
	background-color: #FFF78C;
}
.alert-notice{
	background-color: #6CC75B;
}
.alert-alert{
	background-color: #E86666;
}
.wrap{
	max-width: 960px;
	margin: auto;
}

.content h2{
	text-align: center;
	padding: 5px;
}

.about-section{
	p{
		padding: 15px;
		font-size: 18px;
		text-indent: 30px;
		max-width: 600px;
		margin: auto;
	}
	h2{
		text-align: center;
		font-size: 25px;
	}
}
.recruitment-secion{
	@extend .about-section;
}

// main::-webkit-scrollbar {
//     width: 1em;
// }
 
// main::-webkit-scrollbar-track {
//     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
// }
 
// main::-webkit-scrollbar-thumb {
//   background-color: darkgrey;
//   outline: 1px solid slategrey;
// }

.floating{
	position: fixed;
	bottom: 0;
	right: 0;
	margin: 25px;
	z-index: 3;
	font-size: 25px;
	text-align: center;
	padding: 20px;
	background-color: $main-button-color;
	color: white;
	border-radius: 50%;
	@include transition(color .5s);
	&:hover{
		color: black;
	}
}

html,body{
  margin: 0;
  padding: 0;
}

header{
  height: 60px;
  background-color: $header-color;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: $header-z;
}
.trigger{
	position: fixed;
	top: 0;
	left: 0;
	width: 60px;
	height: 60px;
	background-color: darken($header-color, 5);
	color: white;
	line-height: 60px;
	text-align: center;
	font-size: 25px;
	cursor: pointer;
}

.headercontainer{
  @include display(flex);
  @include align-items(center);
  @include flex-direction(row);
  @include justify-content(space-between);
  max-width: 960px;
  margin: auto;
  div{
    box-sizing: border-box;
    height: 60px;
    line-height: 60px;
    padding: 0 10px 0 10px;
  }
  .Brand{
  	@media screen and (max-width: 1025px){
  		margin-left: 60px;
  	}
    img{
      height: 60px;
      width: 60px;
    }
    a{
      float: right;
      padding: 0 10px 0 10px;
      color: white;
      text-decoration: none;
      text-transform: uppercase;
      display: inline;
      @media screen and (max-width: $break-tablet){
      	display: none;
      }
    }
  }
  .User{
    a{
      background-color: $main-button-color;
      color: white;
      padding: 8px;
      text-decoration: none;
      margin: 0 5px 0 5px;
      @include transition(background-color .5s);
      &:hover{
			background-color: darken($main-button-color, 5);
		}
    }
    .usersettings{
    	color: white;
    	font-size: 18px;
    	a{
    		padding: 5px;
    		margin: 0 2px 0 2px;
    		background-color: $header-color;
    		
    	}
    }
    .apply{
    	background-color: #6CC75B;
		&:hover{
			background-color: darken(#6CC75B, 15);
		}
    }
  }
}

.update{
	padding: 5px;
    background-color: #6CC75B;
    color: white;
    border: none;
}
.cancel{
	@extend .update;
	background-color: #E86666;
}
.back{
	@extend .update;
	background-color: $header-color;
	width: 100%;
	text-align: center;
	margin-bottom: 5px;
	display: block;
}




nav{
	height: 100%;
	width: 200px;
	@include transition(transform 1.0s ease-in-out);
	box-sizing:border-box;
	position: fixed;
	top: 0;
	left: -200px;
	padding-top: 80px;
	background-color: $nav-background-color;
	color: white;
	display: block;
	z-index: $nav-z;
	overflow-y: auto;
	.imgwrapper{
		display: block;
		margin: auto;
	}
	img{
		border-radius: 50%;
		width: 120px;
		height: 120px;
		margin: 0 40px 10px 40px;
		@media screen and (max-height: 800px){
			display: none;
		}
	}
	h1{
		text-align: center;
		font-size: 20px;
		color: white;
	}
	h2{
		text-align: center;
		font-size: 15px;
		color: white;
		margin-bottom: 20px;
	}
	.navcontent{
		width: 200px;
		height: auto;
		a{
			margin: auto;
			text-align: center;
			width: 100%;
			padding: 25px;
			box-sizing: border-box;
			display: block;
			text-transform: uppercase;
			letter-spacing: 2px;
			&:hover{
				background-color: rgba(0,0,0,.2);
				color: white;
				text-decoration: none;
			}
		}
		.edit{
			background-color: #6F81F2;
			padding: 15px;
			border-radius: 10px;
			width: 80%;
			margin-bottom: 20px;
		}
		.logout{
			@extend .edit;
			background-color: #F24949;
		}
	}
}

footer{
	max-width: 900px;
	margin: auto;
	text-align: center;
	background-color: $main-background-color;
	color: #333;
	border-top: 1px solid #333;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 12px;
	font-family: $post-font;
	z-index: $footer-z;
	p{
		margin: auto;
		a{
			color: #333;
		}
		.mailto{
			color: $main-button-color;
			&:hover{
				text-decoration: underline;
			}
		}
		padding: 20px;
		max-width: 800px;
	}
	@include transition(transform 1.0s ease-in-out);
	.footercontent{
		text-align: center;
	}
}
