// Variables

$main-background-color: #FAFAFA;
$header-color: #193441;
$header-font-color: #f1f1f1;
$main-button-color: #3E606F;
$nav-background-color: #3E606F;
$purple-highlight: #3F445E;

@import url(http://fonts.googleapis.com/css?family=Arimo:700);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,300);
$main-font: 'Raleway', sans-serif;
$post-font: 'Open Sans', sans-serif;

// Breakpoints

$break-phone: 420px;
$break-tablet: 740px;
$break-desktop: 1080px;

// Z-Index

$header-z: 6;
$nav-z: 5;
$content-z: 4;
$footer-z: 3;