<div class="post">
<div class="about">
<p>ABD started as a group of close friends that wanted to create a guild focused on raiding with the end goal of taking out Garrosh in 5.4.  We have grown to encompass even more folks over the past months, and we are now ready to venture into Draenor and experience the new content. We plan to clear all heroic content, and experience Mythic if we have the people and time.</p>

</br>

<p>While WoW is our main focus, it does not stop us from playing other games together. We even have our own Steam Group: </p>

</br>

<p>http://steamcommunity.com/groups/ArmoredBearDivision</p>

</br>

<p>If you are interested in joining please send one of our officers an in-game message after filling out an application.</p>
</div>
</div>