<div class="post">
<div class="about">
<p>In the late months of 2008, on the US server of Andorhal, the friendship was
made that would eventually create Iron Legacy. Through the years, we've spent
countless hours establishing our goals in the game and figuring out just the
right way to accomplish them. </p>

<p>Throughout Mists of Pandaria we found ourselves with influxes of new players
hungry for progression but we never really excelled to the level we had imagined.
This was not simply because we couldn't, but because we unfortunately didn't
have players with the same goals.</p>

<p>After some thinking and weeding out options, it was decided among the leaders
of Iron Legacy that to rekindle the love for the game, change had to be made.
Both leaders rolled new faction, new server, started from scratch and eventually
came to the conclusion of starting a brand new guild.</p>

<p>After pooling efforts together, Iron Legacy saw a massive burst in recruitment
of players with exactly the same goals, thus providing the guild with the tools
needed to excel to the level we had always imagined.</p>

<h2><strong>Iron Legacy</strong> has returned to conquer Draenor.</h2>
</div>
</div>