<div class='forum'>
  <%= render :partial => 'forem/forums/head', :locals => { :forum => @forum } %>

  <%= forem_pages_widget(@topics) %>

  <div class="topic_listing">
  <div>
    Icons
  </div>
  <div>

  </div>
  <div class="larger">
    Topics
  </div>
  <div class="larger">
    Latest
  </div>
  <div>
    Posts
  </div>
  <div>
    Views
  </div>
</div>

  <%= render @topics %>
  <%= forem_pages_widget(@topics) %>
</div>