<footer>
  <div class="footercontent">
  <p><a href="http://rekenna.com/">&copy; 2014 Ryan McKenna & BlackHearth Studios</a></p>
  <p>Found a bug in the site? Want to give feedback? <a href="mailto:ryan@rekenna.com" class="mailto">Click here</a>.</p>
  <p>World of Warcraft™ and Blizzard Entertainment™ are all trademarks or registered trademarks of Blizzard Entertainment in the United States and/or other countries. These terms and all related materials, logos, and images are copyright © Blizzard Entertainment. This site is in no way associated with or endorsed by Blizzard Entertainment™.</p>
  </div>
</footer>