<% flash.each do |key, value| %>

  <% if key == "alert" %>
  	<script type="text/javascript">
  		swal("Uh-oh..","<%= value %>", "error");
  	</script>
  <% else %>
    <script type="text/javascript">
      swal("Sweet!","<%= value %>", "success");
    </script>
  <% end %>
<!--   <div class="error alert-<%= key %>">
      <ul>
        <li>
          <%= value %>
        </li>
        </br>
        <li style="font-size: 70%">Click to Dismiss</li>
      </ul>
  </div> -->
<% end %>